<?xml version="1.0"?>
<robot
	xmlns:xacro="http://wiki.ros.org/xacro">
	<xacro:macro name="cx110l" params="prefix">
		<!-- link list -->
		<xacro:property name="table_x" value="1.5177" />
		<xacro:property name="table_y" value="0.762" />
		<xacro:property name="table_z" value="0.7302" />
		<xacro:property name="control_cabinet_pos_x" value="-0.508" />
		<xacro:property name="control_cabinet_pos_y" value="1.3716" />
		<xacro:property name="control_cabinet_pos_z" value="0.95885" />
		<xacro:property name="control_cabinet_dim_x" value="0.4191" />
		<xacro:property name="control_cabinet_dim_y" value="1.016 " />
		<xacro:property name="control_cabinet_dim_z" value="1.9177" />
		<xacro:property name="controller_pos_x" value="-0.508" />
		<xacro:property name="controller_pos_y" value="3.5" />
		<xacro:property name="controller_pos_z" value="0.57785" />
		<xacro:property name="controller_dim_x" value="0.4191" />
		<xacro:property name="controller_dim_y" value="1.016 " />
		<xacro:property name="controller_dim_z" value="1.1557" />
		<link name="${prefix}base_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-base.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-base.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}base_plate_link">
			<visual>
				<origin
          xyz="0 0 -0.0254"
          rpy="0 0 0" />
				<geometry>
					<box size="1.016 1.016 0.0254" />
				</geometry>
				<material
          name="">
					<color
          rgba="0.75294 0.75294 0.75294 1" />
				</material>
			</visual>
			<collision>
				<origin
            xyz="0 0 0.0127"
            rpy="0 0 0" />
				<geometry>
					<box size="1.016 1.016 0.0254" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_1">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j1.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j1.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_2">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j2.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j2.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_3">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j3.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j3.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_4">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j4.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j4.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_5">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j5.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j5.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}link_6">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/cx165l-j6.dae" />
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/cx165l-j6.stl" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}lwded_tool_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/visual/lwded_tool.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://khi2cpp_hw_description/cx110l/meshes/collision/lwded_tool_convex_hull.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</collision>
		</link>
		<link name="${prefix}tcp_link" />
		<link name="${prefix}table_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<box size="${table_x} ${table_y} ${table_z}"/>
				</geometry>
				<material
          name="">
					<color
          rgba="${19/255} ${115/255} ${28/255} 1" />
				</material>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<box size="${table_x} ${table_y} ${table_z}"/>
				</geometry>
			</collision>
		</link>
		<link name="${prefix}lwded_cables_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.0635" length="3.0"/>
				</geometry>
				<material
          name="">
					<color
          rgba="${1/255} ${1/255} ${1/255} 1" />
				</material>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<cylinder radius="0.0635" length="3.0"/>
				</geometry>
			</collision>
		</link>
		<link name="${prefix}north_wall">
			<visual>
				<origin
                xyz="5.878 1.7175 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="0.1 5.055 5" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 1" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="5.878 1.7175 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="0.1 5.055 5" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}east_wall">
			<visual>
				<origin
                xyz="2.53 -0.81 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="6.68 0.1 5" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 1" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="2.53 -0.81 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="6.68 0.1 5" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}south_wall">
			<visual>
				<origin
                xyz="-0.810 1.717 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="0.1 5.055 5" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 0.1" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="-0.810 1.717 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="0.1 5.055 5" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}west_wall">
			<visual>
				<origin
                xyz="2.53 4.245 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="6.68 0.1 5" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 0.1" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="2.53 4.245 2.5"
                rpy="0 0 0" />
				<geometry>
					<box size="6.68 0.1 5" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}control_cabinet_link">
			<visual>
				<origin
                xyz="${control_cabinet_pos_x} ${control_cabinet_pos_y} ${control_cabinet_pos_z}"
                rpy="0 0 0" />
				<geometry>
					<box size="${control_cabinet_dim_x} ${control_cabinet_dim_y} ${control_cabinet_dim_z}" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 1.0" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="-0.508 1.3716 0.95885"
                rpy="0 0 0" />
				<geometry>
					<box size="0.4191 1.016 1.9177" />
				</geometry>
			</collision>
		</link>
		<link name="${prefix}controller_link">
			<visual>
				<origin
                xyz="${controller_pos_x} ${controller_pos_y} ${controller_pos_z}"
                rpy="0 0 0" />
				<geometry>
					<box size="${controller_dim_x} ${controller_dim_y} ${controller_dim_z}" />
				</geometry>
				<material
                name="">
					<color
                rgba="0.75294 0.75294 0.75294 1.0" />
				</material>
			</visual>
			<collision>
				<origin
                xyz="${controller_pos_x} ${controller_pos_y} ${controller_pos_z}"
                rpy="0 0 0" />
				<geometry>
					<box size="${controller_dim_x} ${controller_dim_y} ${controller_dim_z}" />
				</geometry>
			</collision>
		</link>
		<!-- end of link list -->
		<!-- joint list -->
		<joint name="${prefix}base_link-base_plate_link" type="fixed">
			<origin rpy="0 0 0" xyz="0 0 0.0254"/>
			<parent link="${prefix}base_link" />
			<child link="${prefix}base_plate_link" />
			<axis xyz="0 0 -1"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="2.268928"/>
		</joint>
		<joint name="${prefix}joint_1" type="revolute">
			<origin rpy="0 0 0" xyz="0 0 0.55"/>
			<parent link="${prefix}base_link" />
			<child link="${prefix}link_1" />
			<axis xyz="0 0 -1"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="2.268928"/>
		</joint>
		<joint name="${prefix}joint_2" type="revolute">
			<origin rpy="0 0 0" xyz="0 0.3 0"/>
			<parent link="${prefix}link_1" />
			<child link="${prefix}link_2" />
			<axis xyz="1 0 0"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="2.181662"/>
		</joint>
		<joint name="${prefix}joint_3" type="revolute">
			<origin rpy="0 0 0" xyz="0 0 1.19"/>
			<parent link="${prefix}link_2" />
			<child link="${prefix}link_3" />
			<axis xyz="1 0 0"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="2.181662"/>
		</joint>
		<joint name="${prefix}joint_4" type="revolute">
			<origin rpy="0 0 0" xyz="0 1.19 0.3"/>
			<parent link="${prefix}link_3" />
			<child link="${prefix}link_4" />
			<axis xyz="0 1 0"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="3.141593"/>
		</joint>
		<joint name="${prefix}joint_5" type="revolute">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<parent link="${prefix}link_4" />
			<child link="${prefix}link_5" />
			<axis xyz="1 0 0"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="3.141593"/>
		</joint>
		<joint name="${prefix}joint_6" type="revolute">
			<origin rpy="0 0 0" xyz="0 0.235 0"/>
			<parent link="${prefix}link_5" />
			<child link="${prefix}link_6" />
			<axis xyz="0 1 0"/>
			<limit effort="0" lower="-6.283185" upper="6.283185" velocity="4.886922"/>
		</joint>
		<joint name="${prefix}joint_6-lwded_tool_link" type="fixed">
			<origin xyz="0 0.192 -0.387" rpy="0 0 0" />
			<parent link="${prefix}link_6" />
			<child link="${prefix}lwded_tool_link" />
			<axis xyz="0 0 0" />
		</joint>
		<joint name="${prefix}lwded_tool_link-tcp_link" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<parent link="${prefix}lwded_tool_link" />
			<child link="${prefix}tcp_link" />
			<axis xyz="0 0 0" />
		</joint>
		<joint name="${prefix}lwded_tool_link-lwded_cables_link" type="fixed">
			<origin xyz="0 0 2.3" rpy="0 0 0" />
			<parent link="${prefix}lwded_tool_link" />
			<child link="${prefix}lwded_cables_link" />
			<axis xyz="0 0 0" />
		</joint>
		<joint name="${prefix}base_plate_link-table_link" type="fixed">
			<origin xyz="${table_x/2 + 0.6668 + 0.508} ${table_y/2+0.2} ${table_z/2}" rpy="0 0 0" />
			<parent link="${prefix}base_plate_link" />
			<child link="${prefix}table_link" />
			<axis xyz="0 0 0" />
		</joint>
		<link name="${prefix}slicer_link" />
		<joint name="${prefix}table_link-slicer_link" type="fixed">
			<origin xyz="${-table_x/2} ${-table_y/2} ${table_z/2}" rpy="0 0 0"/>
			<parent link="${prefix}table_link"/>
			<child link="${prefix}slicer_link"/>
		</joint>
		<joint name="${prefix}world2north_wall" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}north_wall"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<joint name="${prefix}world2east_wall" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}east_wall"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<joint name="${prefix}world2south_wall" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}south_wall"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<joint name="${prefix}world2west_wall" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}west_wall"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<joint name="${prefix}control_cabinet" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}control_cabinet_link"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<joint name="${prefix}controller" type="fixed">
			<parent link="${prefix}base_link"/>
			<child link="${prefix}controller_link"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</joint>
		<!-- end of joint list -->
		<!-- ROS base_link to cx110l coordinate system transform -->
		<link name="${prefix}base" />
		<joint name="${prefix}base_link-base" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<parent link="${prefix}base_link"/>
			<child link="${prefix}base"/>
		</joint>
	</xacro:macro>
</robot>
